<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/3071421e-e0de-4299-8038-6c43a02ca398/resourceGroups/pradan-rg/providers/Microsoft.Web/sites/cardsbotpradan</ResourceId>
    <ResourceGroup>pradan-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://cardsbotpradan.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2523b6d1-dfe1-4512-adb7-c8084e27a0ae</ProjectGuid>
    <PublishUrl>https://cardsbotpradan.scm.azurewebsites.net/</PublishUrl>
    <UserName>$cardsbotpradan</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>